body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  /* color: aliceblue; */
}
a,
a:hover,
a:visited {
  color: #0071bc;
}
#map {
  /* top: 100px;
    left: 200px; */
  height: 100vh;
  width: 100vw;
  position: fixed;
}
#header {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 5;
}
#header h1,
#header h2,
#header p {
  margin: 0;
  padding: 2vh 2vw;
  text-align: center;
}
#footer {
  width: 100%;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  position: relative;
  z-index: 5;
}
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#features p,
h1,
h2 {
  border-radius: 6px;
  background-color: rgba(5, 3, 7, 0.1);
  font-size: 1.5em;
  color: aliceblue;
}

.textbox {
  width: 92.5%;
  max-width: 500px;
  padding: 1.25rem 1.75rem 1.5rem 1.75rem;
  margin-left: 5rem;
  /* margin-bottom: 60rem; */
  /* z-index: 999; */
  border-radius: 4px;
  /* opacity: 0.925; */
  -webkit-filter: drop-shadow(0 2px 4px rgba(59, 59, 61, 0.4));
  filter: drop-shadow(0 2px 4px rgba(59, 59, 61, 0.4));
  background-color: rgba(126, 132, 138, 0.205);
  color: #fff;
  border: 1px solid hsla(0, 0%, 43.9%, 0.2);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.hidden {
  visibility: hidden;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.fully {
  width: 100%;
  margin: auto;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.25;
}
.step.active {
  opacity: 0.9;
}

.step div {
  padding: 25px 50px;
  line-height: 25px;
  font-size: 13px;
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  .centered,
  .lefty,
  .righty,
  .fully {
    width: 90vw;
    margin: 0 auto;
  }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas {
  touch-action: unset;
}
